<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<div>
  <h3>Of if you dont have an account, sign up <a href="/signup">here.</a></h3>
</div>

<script src="/javascript/login.js"></script>